<div class="main">
    <div class="header">
        <p class="text large"></p>
    </div>
    <div class="chat">
    <!-- Make a chat for user and for others -->

        <div class="message">
            <div class="img-wrapper">
                <img class="img" src="../../assets/Blank-profile.png" alt="">
            </div>
            <div class="content">
                <div class="content-header">
                    <p class="text">Eugene Brooks</p>
                    <p class="text small">Jul 27</p>
                </div>
                <div class="content-body">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, ut.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="messaging-bar">
        <textarea class="message-textarea"></textarea>
        <div class="icon-wrapper">
            <i class="fa-regular fa-solid fa-paper-plane"></i>
        </div>
    </div>
</div>
