<div class="main">
    
    <div class="row" 
    (click)="onNavigate('documents')"
    matRipple
    matTooltip="My Documents"
    matTooltipPosition="right"
    matTooltipHideDelay="250"
    >
        <i class="fa-solid fa-file-pen"></i>
    </div>
    <div 
    (click)="onNavigate('chat')"
    class="row" 
    matRipple
    matTooltip="Chats"
    matTooltipPosition="right"
    matTooltipHideDelay="250"
    >
        <i class="fa-solid fa-comment-dots"></i>
    </div>
    <div class="row" 
    matRipple
    matTooltip="About"
    matTooltipPosition="right"
    matTooltipHideDelay="250"
    >
        <i class="fa-solid fa-circle-question"></i>
    </div>
    <div class="row" 
    (click)="onLogout()"
    matRipple
    matTooltip="Log out"
    matTooltipPosition="right"
    matTooltipHideDelay="250"
    >
        <i class="fa-solid fa-power-off"></i>
    </div>
</div>
