<div class="main">
    <div class="main-content">
        <div class="header">
            <div class="nav-back" 
            [matTooltip]="'Go back'" 
            [matTooltipPosition]="'right'"
            (click)="onNavigate('chat')"
            >
                <i class="fas fa-arrow-left"></i>
            </div>
            <p class="text large">Document name Group Chat</p>
        </div>
       
        <div class="chat">
            <div *ngFor="let chat of (chat$|async)">
                <div *ngIf="user$|async" class="divider" [ngClass]="{'divider-user':chat.author===(user$.getValue()._id)}">
                    <div class="message" [ngClass]="{'other':chat.author === user$.getValue()._id}">
                        <div class="img-wrapper">
                            <img class="img" [src]="chat.image?chat.image:'../../assets/Blank-profile.png'" alt="">
                        </div>
                        <div class="content">
                            <div class="content-header">
                                <p class="text"><strong>{{chat.name}}</strong></p>
                                <p class="text small faded">Jul 27</p>
                            </div>
                            <div class="content-body">
                                <p class="text">{{chat.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="divider divider-user">
                    <div class="message user">
                        <div class="content">
                            <div class="content-header">
                                <p class="text"><strong>{{chat.name}}</strong></p>
                                <p class="text small faded">Jul 27</p>
                            </div>
                            <div class="content-body">
                                <p class="text">{{chat.content}}</p>
                            </div>
                        </div>
                        <div class="img-wrapper other">
                            <img class="img" src="../../assets/Blank-profile.png" alt="">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="messaging-bar">
            <textarea [(ngModel)]="message" placeholder="Type your chat here..." class="message-textarea"></textarea>
            <div (click)="onSendMessage()" class="icon-wrapper" [matTooltip]="'Send message'" [matTooltipPosition]="'right'">
                <i class="fa-regular fa-solid fa-paper-plane"></i>
            </div>
        </div>
    </div>
</div>
 