<h1 mat-dialog-title>Change Permissions & Add members</h1>
<mat-progress-bar *ngIf="toggleLoader" mode="query"></mat-progress-bar>
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Search to add member</mat-label>
        <input
            style="width: 100%" 
            (keypress)="onHandleChange($event)" 
            matInput 
            [formControl]="myFormControl"
            [matAutocomplete]="auto"
            >
        <mat-error *ngIf="myFormControl.hasError('userNotFound')">User {{myFormControl.value}} does not exist</mat-error>
        <mat-error *ngIf="myFormControl.hasError('userAlreadyAdded')">User <strong>{{myFormControl.value}}</strong> has already been added!</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option 
            *ngFor="let user of (searchResults$|async)" 
            [value]="user.email"
            >
                <div class="result">
                    <div class="result-img">
                        <img class="img" [src]="user.image?user.image:'../../../assets//Blank-profile.png'" alt="">
                    </div>
                    <div class="result-details">
                        <p class="text name">
                           {{user.name}}
                        </p>
                        <p class="text name">
                            {{user.email}}
                        </p>
                    </div>
                </div>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
<mat-dialog-content>
    <div class="members-list">
        <div class="member" *ngFor="let user of documentMembers; let i = index;" >
            <div class="member-meta">
                <div class="member-img">
                    <img class="img" src="../../../assets/Blank-profile.png" alt="">
                </div>
                <div class="member-details">
                    <p class="text name">{{user.name}}</p>
                    <p class="text name">{{user.email}}</p>
                </div>
            </div>
            <div class="btns">
                <mat-radio-group [(ngModel)]="permissionsConfig.roles[i].access">
                    <mat-radio-button class="btn" value="readonly">readonly</mat-radio-button>
                    <mat-radio-button class="btn" value="modify">modify</mat-radio-button>
                    <mat-radio-button class="btn" value="admin">admin</mat-radio-button>
                </mat-radio-group>
                <div [matMenuTriggerFor]="menu" class="remove-member">
                    <i style="font-size:1.2em" class="fa-solid fa-times"></i>
                </div>
                <mat-menu #menu>
                    <button (click)="onRemoveMember(i)" mat-menu-item> 
                        <i class="fa-solid fa-trash"></i> 
                        Remove user 1 from document
                    </button>
                    <button (click)="onDebug()">Debug</button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close color="basic">Discard</button>
    <button mat-raised-button [mat-dialog-close]="permissionsConfig" color="primary">Save</button>
</mat-dialog-actions>