<app-newdoc-overlay></app-newdoc-overlay>
<div class="main">
    <div class="section">
        <div class="section-title">
            <h1 class="text">My Documents</h1>
        </div>
        <div class="documents-list">
            <div class="create-document">
                <p class="text new-doc">Create New Document</p>
                <i class="fas fa-circle-plus i-plus"></i>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">
            <h1 class="text">Shared With Me</h1>
        </div>
        <div class="documents-list">
            
        </div>
        <div class="empty-message">
            <h2 class="text">No Shared Documents</h2>
        </div>
    </div>
</div>