<div class="main">
    
    <div class="editor-container">
        <div *ngIf="currentDocument" class="editor-title">
          <p class="text">{{currentDocument.title}}</p> 
          <div 
          *ngIf="permitAccess('modify')" 
          [matTooltip]="'Rename Document'" 
          class="icon-wrapper" 
          (click)="onEditTitle()"
          [ngStyle]="{cursor:!permitAccess('modify')?'not-allowed':''}"
          >
            <i class="fa-solid fa-pen-fancy"></i>
          </div>
        </div>
        <div *ngIf="currentDocument&&currentDocument.team.length" class="shared-with"><p class="text">Shared with</p></div>
        <div *ngIf="currentDocument" class="chip-wrapper">
          <mat-chip-list aria-label="Dog selection">
            <!-- If they are online/editing document, display a color -->
              <mat-chip *ngFor="let member of currentDocument.team" [selected]="false">
                <img matChipAvatar [src]="member.image?member.image:'../../../assets/Blank-profile.png'" alt="Photo of a Shiba Inu"/>
                {{member.email}}
              </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf="currentDocument" class="editor-options">
            <button 
            [ngStyle]="{cursor:!permitAccess('modify')?'not-allowed':''}"
            [disabled]="!permitAccess('modify')"
            (click)="onSaveDocument()" mat-raised-button color="primary" class="btn" >Save</button>
            <button 
            [ngStyle]="{cursor:!permitAccess('admin')?'not-allowed':''}"
            [disabled]="!permitAccess('admin')"
            style="background: rgb(221, 221, 221);" 
            mat-raised-button 
            color="basic" 
            class="btn"
            (click)="onEditTeam()" 
            >Edit Permissions</button>
            <button 
            (click)="onDeleteDocument()"
            [ngStyle]="{cursor:!permitAccess('admin')?'not-allowed':''}"
            mat-raised-button 
            style="background: #dc3545; color: white;" 
            class="btn" 
            [disabled]="!permitAccess('admin')"
            >Delete Document</button>
        </div>
          <quill-editor
          [readOnly]="readonly$ |async"
          (onEditorCreated)="onCreate($event)"
          (onEditorChanged)="handleChange($event)" 
          #editor
          class="editor"
          
          ></quill-editor>

          <!-- [contentEditable]="currentDocument.content" -->
    </div>
</div>
